@model IEnumerable<HappyScaff.Models.Makaleler>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(1){text-align: right;}
    td:nth-child(4){text-align: right;}
</style>
<h2>Index</h2>
<h4>Makaleler</h4>
<p>
    @Html.ActionLink("Create New", "MakalelerCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.MakaleBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakaleIcerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategoriler.KategoriBaslik)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "MakalelerEdit", new { id=item.MakaleId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakaleBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakaleIcerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoriler.KategoriBaslik)
        </td>

    </tr>
}

</table>
